{% extends "base.html" %}

{% block content %}

<div class="fullscreen-map-container">
    <iframe src="https://www.google.com/maps/d/embed?mid=1iwhTEqLnPVW4YxRMlAK0Wb1g_MPLFXg&ehbc=2E312F" width="640"
        height="480"></iframe>
</div>

{% endblock %}

{% block head %}
{{ super() }}
<audio id="bgMusic" loop>
    <source src="{{ url_for('static', filename='./music/electric_love.mp3') }}" type="audio/mpeg">
</audio>

<script src="{{ url_for('static', filename='js/lugares.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/lugares.css') }}">

<script src="{{ url_for('static', filename='js/music-player.js') }}"></script>
{% endblock %}